
<div class="container float-left">
  <button class="btn btn-success" (click)="newTimer()">New Timer</button>
  <div class="row" *ngFor="let timer of timers">
    <div class="col">
      <app-timer (settingChangedEvent)="saveData()" [timer]="timer"></app-timer>
    </div>
    <div class="row">
      <div class="col-5">
        <button class="btn btn-danger" (click)="removeTimer(timer)">Delete Timer</button>
      </div>
    </div>
    <div style="margin-top:30px"></div>
  </div>
  <span>Notification sound by IENBA</span>
</div>
